/* The following are Tailwind CSS directives. */
/* The linter may complain about them, but they are valid. */
/* The following are Tailwind CSS directives. */
/* The linter may complain about them, but they are valid. */
@import "tailwindcss";

.input {
  @apply block w-full rounded-md border p-2 text-sm;
}